button {
	border-radius: 10px;
	border: none;
	padding: 12px;
	background-color: #bdc3c7;
	height: 40px;
	color: #FFFFFF;
}

button:focus {
	outline: 0;
}

#query {
	border-radius: 10px;
	border: none;
	background-color: #ecf0f1;
	height: 30px;
	padding: 5px;
	width: 200px;
}

#query:focus {
	outline: none;
}

select {
	border-radius: 10px;
	background-color: #ecf0f1;
	border: none;
	padding: 5px;
	height: 40px;
}

select:focus {
	outline: 0;
}